#search-bar {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 10px;
  padding-left: 20px;
  padding-right: 50px;
  border: 1px solid #ccc;
  border-radius: 20px;
  font-size: 16px;
  outline: none;
  display: flex;
  align-items: center;
}

#greeting {
  font-size: 50px;
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  text-align: center;
  margin: 20px;
  margin-top: 40px;
  filter: blur(10px);
  opacity: 0;
  clip-path: inset(0 100% 0 0);
  animation: reveal 2s forwards ease-out;
}

@keyframes reveal {
  0% {
    opacity: 0;
    filter: blur(10px);
    clip-path: inset(0 100% 0 0);
    color: #FBD272;
  }
  30% {
    opacity: 1;
    color: #FBD272;
  }
  100% {
    opacity: 1;
    filter: blur(0px);
    clip-path: inset(0 0 0 0);
    color: #FFFFFF;
  }
}

#greeting {
    mask-image: linear-gradient(to right, black 0%, black 50%, transparent 100%);
    mask-size: 200% 100%;
    -webkit-mask-image: -webkit-linear-gradient(left, black 0%, black 50%, transparent 100%);
    -webkit-mask-size: 200% 100%;
}

body {
  background-color: #121212;
  color: #f0f0f0;
}